
.err-title-1 {
    font-size: xx-large;
    font-weight: bold;
}

.err-title-2 {
    font-size: x-large;
    font-weight: bold;
}

.err-title-3 {
    font-size: larger;
    font-weight: bold;
}

.err-title-4 {
    font-size: large;
    font-weight: bold;
}

.err-title-5 {
    font-size: medium;
    font-weight: bold;
}
